#contact {
  padding: 50px;
  background-color: #f6f2ff;

  h4 {
    text-align: center;
  }
}

#contact > h1,
h4,
.media-container {
  margin-bottom: 10px;
}

.contact-container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.media-container {
  display: flex;
  justify-content: space-around;
}
.media-container a {
  text-decoration: none;
  color: #932f6d;
}
.media-container > * {
  font-size: 50px;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.media-container > *:hover {
  transform: scale(1.2);
}
