@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Lora:ital,wght@0,500;0,700;1,500&family=Merriweather:ital,wght@0,400;0,700;1,300&display=swap");

$font-header: "Lora", serif;
$font-nav: "Lato", sans-serif;
$font-text: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
