html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

.navbar {
  background-color: #f6f2ff;
  position: sticky;
  height: inherit;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.navbar ul {
  position: relative;
  top: 30px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
}

.navbar li {
  list-style: none;
  color: #932f6d;
}

.nav-item:hover {
  color: pink;
  cursor: pointer;
}

.nav-item > .active {
  border-bottom: 1px solid #333;
}
.blog-nav-items li.active {
  border-bottom: 1px solid #333;
}
.blog-nav-items li a {
  text-decoration: none;
  color: #932f6d;
}
.blog-nav-items li a:hover {
  border-bottom: 1px solid #333;
  color: pink;
  cursor: pointer;
}
/* 
#home {
  height: 100vh;
}

#home {
  background-color: #f6f2ff;
} */
/* 
#home .home-content {
  position: relative;
  width: fit-content;
  top: 40%;
  margin: 0 auto;
  text-align: center;
} */

.hero {
  background-size: cover;
  height: 90vh;
}

.hero .text-box {
  background-image: linear-gradient(to bottom, #ddbbff00 2rem, #dcccff);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 0;
  padding: 0 calc((100vw - 550px) / 2) 2rem;
  width: 100%;
}
.hero .text-box h1 {
  text-shadow: 1px 1px 3px #eeddff66;
  font-size: 2.25rem;
}

.text-box h2,
.text-box p {
  color: #222;
  margin-top: 0;
}
.text-box p {
  margin-top: 0.5rem;
}

#about {
  background-color: #dcccff;
  height: auto;
  min-height: 100vh;
}
.about-title {
  padding-top: 50px;
  text-align: center;
  color: #420039;
}
.about-content {
  width: 90%;
  margin: 0 auto;
}

#portfolio {
  background-color: #f6f2ff;
}
.portfolio-title {
  padding-top: 50px;
  text-align: center;
  color: #420039;
}
.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.portfolio-item {
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  margin-bottom: 0.5rem;
}
/* .portfolio-item:hover {
  transform: scale(1.2);
  z-index: 1;
} */
.portfolio-item img {
  display: flex;
}
figure {
  margin: 0 5px;
  box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 16px rgba(0, 0, 0, 0.5);
}
figcaption {
  background-color: white;
  width: 300px;
  padding: 10px;
}
figcaption > * {
  margin: 10px;
}

#blog {
  background: #dcccff;
  height: auto;
  min-height: 100vh;
}
.blog-content header {
  padding-top: 50px;
  text-align: center;
}

.blog-content header h1 {
  color: #420039;
}

.portfolio-blog article,
.blog-container .article {
  border-radius: 10px;
  background: white;
  box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 16px rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 10px;
}

.blog-container .article p {
  line-height: 1.5rem;
  margin: 1rem 0;
}

.blog-item {
  border-bottom: 1px solid lightgray;
  margin: 20px;
}
.blog-item p {
  line-height: 1.5rem;
  margin: 1rem 0;
}
.blog-item .article-link {
  text-decoration: none;
  color: #420039;
}

.blog-item .article-link:hover {
  text-decoration: underline;
  color: turquoise;
}

.current-article {
  box-shadow: 0px 12px 32px 1px rgba(0, 0, 255, 0.2);
  max-width: 800px;
  margin: 10px;
  padding: 10px;
}
.current-article p {
  line-height: 1.5rem;
  margin-bottom: 20px;
}

#contact {
  padding: 50px;
  text-align: center;
  background-color: #f6f2ff;
}
#contact h1 {
  color: #420039;
}
#contact > h1,
h4,
.media-container {
  margin-bottom: 10px;
}

.contact-container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.media-container {
  display: flex;
  justify-content: space-around;
}
.media-container a {
  text-decoration: none;
  color: #932f6d;
}
.media-container > * {
  font-size: 50px;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.media-container > *:hover {
  transform: scale(1.2);
}

@media only screen and (min-width: 768px) {
  #portfolio {
    height: auto;
  }

  .about-content,
  .portfolio-content {
    max-width: 980px;
    margin: auto;
    padding: 5% 0;
  }
  .about-container {
    display: flex;
    justify-content: space-around;
  }
  .about-img {
    width: 100%;
    max-width: 400px;
    margin: 0 5px;
  }
  .about-text {
    width: 45%;
    margin: 5px 5px 5px 20px;
  }
  #portfolio .portfolio-content {
    display: flex;
    height: inherit;
    flex-wrap: wrap;
  }
  .portfolio-item {
    text-align: center;
  }
  .portfolio-item:hover {
    transform: scale(1.2);
    z-index: 1;
  }
  .portfolio-blog article,
  .blog-container .article {
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    background: white;
    box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset,
      0 8px 16px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    flex: 1 0 35%;
  }
  .blog-container .article,
  .blog-container .current-article {
    max-width: 800px;
  }
  .current-article {
    border: none;
    margin: 20px auto;
  }
  .current-article p {
    line-height: 1.5rem;
    margin-bottom: 20px;
  }
  .blog-header {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
  }
  /* .blog-container h2 {
    text-align: center;
  } */
  .blog-item {
    max-width: 700px;
    margin: 15px auto;
    border-bottom: 1px solid lightgray;
  }

  .post-preview-container {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 900px) {
}
