@import "./navbar";
@import "./hero";
@import "./about";
@import "./portfolio";
@import "./blog";
@import "./contact";
@import "./fonts";

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-text;
  color: #3a4145;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

p {
  line-height: 1.5rem;
  font-size: 18px;
  margin: 1rem 0;
}

.section-heading {
  font-family: $font-header;
  font-size: 35px;
  text-transform: uppercase;
  color: #420039;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.25rem;
  }

  #portfolio {
    height: auto;
  }

  .about-content,
  .portfolio-content {
    max-width: 980px;
    margin: auto;
    padding: 5% 0;
  }
  .about-container {
    display: flex;
    justify-content: space-around;
  }
  .about-img {
    width: 100%;
    max-width: 400px;
    margin: 0 5px;
  }
  .about-text {
    width: 45%;
    margin: 5px 5px 5px 20px;
  }
  #portfolio .portfolio-content {
    display: flex;
    height: inherit;
    flex-wrap: wrap;
  }
  .portfolio-item {
    text-align: center;
  }
  .portfolio-item:hover {
    transform: scale(1.1);
    z-index: 1;
  }

  .blog-wrapper {
    .blog-preview-container {
      max-width: 1000px;
      margin: 0 auto;
    }
    .blog-preview-container {
      article {
        padding: 20px;
        max-width: 300px;
        flex: 1 0 30%;
      }
    }
  }

  .blog-container {
    .current-article-preview {
      margin: 20px auto;
      max-width: 800px;
    }
    .current-article-preview p {
      line-height: 1.5rem;
      margin-bottom: 20px;
    }
  }

  .blog-header-desktop {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .blog-item {
    max-width: 700px;
    margin: 15px auto;
    border-bottom: 1px solid lightgray;
  }

  .blog-preview-content {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
  }
}
